/*-----CSS for Moving Mouse-----*/
#mouse-container { 
  text-align: center;
  padding-top: 200px;
}
#scroll {
  animation: scroll 4s ease alternate infinite;
}
@keyframes scroll {
  0% {
    transform: translateY(-2px);
  }
  34% {
    transform: translateY(5px);
  }
  37% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0px);
  }
}